<form action="/fights" method="post">
  <select name="id1" id="id1">
    <% @persos.each do |perso| %>
      <option value="<%= perso.id  %>"><%= perso.name  %></option>
    <% end %>
  </select>
  <select name="id2" id="id2">
    <% @persos.each do |perso| %>
      <option value="<%= perso.id  %>"><%= perso.name  %></option>
    <% end %>
  </select>
  <input type="submit">
</form>
